<!DOCTYPE html>
<html>
<head>
	<title>Users</title>
	<link rel="stylesheet" href="style.css" type="text/css">
</head>

<body>
  <!--for demo wrap-->
  <h1>Users List</h1>
  <div>
    <table class="container">
      <thead>
        <tr>
          <th>S.no</th>
          <th>Name</th>
          <th>Account no.</th>
          <th>Mobile</th>
        </tr>
      </thead>
  </div>
  <div>
      <tbody>
        <tr>
          <td><b>1</b></td>
          <td><b>Uday Upreti</b></td>
          <td><b>BCEIF873894723</b></td>
          <td><b>8802790769</b></td>
        </tr>
        <tr>
          <td><b>1</b></td>
          <td><b>Uday Upreti</b></td>
          <td><b>BCEIF873894723</b></td>
          <td><b>8802790769</b></td>
        </tr>
        <tr>
          <td><b>1</b></td>
          <td><b>Uday Upreti</b></td>
          <td><b>BCEIF873894723</b></td>
          <td><b>8802790769</b></td>
        </tr>
        <tr>
          <td><b>1</b></td>
          <td><b>Uday Upreti</b></td>
          <td><b>BCEIF873894723</b></td>
          <td><b>8802790769</b></td>
        </tr>
        <tr>
          <td><b>1</b></td>
          <td><b>Uday Upreti</b></td>
          <td><b>BCEIF873894723</b></td>
          <td><b>8802790769</b></td>
        </tr>
        <tr>
          <td><b>1</b></td>
          <td><b>Uday Upreti</b></td>
          <td><b>BCEIF873894723</b></td>
          <td><b>8802790769</b></td>
        </tr>
        <tr>
          <td><b>1</b></td>
          <td><b>Uday Upreti</b></td>
          <td><b>BCEIF873894723</b></td>
          <td><b>8802790769</b></td>
        </tr>
        <tr>
          <td><b>1</b></td>
          <td><b>Uday Upreti</b></td>
          <td><b>BCEIF873894723</b></td>
          <td><b>8802790769</b></td>
        </tr>
        <tr>
          <td><b>1</b></td>
          <td><b>Uday Upreti</b></td>
          <td><b>BCEIF873894723</b></td>
          <td><b>8802790769</b></td>
        </tr>
      </tbody>
    </table>
  </div>



<!-- follow me template -->
<script type="text/javascript" src="script.js"></script>
</body>
</html>